<%- include("header") -%> 
<h2>saasffsafsfasaffsa</h2>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur mollitia eum nam omnis neque laudantium ipsa voluptates magnam tempore praesentium commodi totam, provident adipisci eligendi natus quo voluptate aperiam. Atque?
</p>
<%- include("footer") -%> 